@model Tuple<UserModel, string>
@{
    UserModel UserModel = Model.Item1;
    string ReturnURL = Model.Item2;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>ورود به حساب کاربری</h2>
        <form asp-controller="Home" asp-action="Login" method="post">
            <div class="form-group">
                <label for="@nameof(UserModel.UTel)">شماره تلفن</label>
                <input type="text" id="@nameof(UserModel.UTel)" name="@nameof(UserModel.UTel)" required class="form-control" placeholder="شماره تلفن خود را وارد کنید">
            </div>
            <div class="form-group">
                <label for="@nameof(UserModel.UPass)">رمز عبور</label>
                <input type="password" id="@nameof(UserModel.UPass)" name="@nameof(UserModel.UPass)" required class="form-control" placeholder="">
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
            <button type="submit" class="btn btn-primary">ورود</button>
            <p>
                <a asp-controller="Home" asp-action="Register">ثبت نام</a> |
                <a asp-controller="Home" asp-action="ForgotPassword">فراموشی رمز عبور</a>
            </p>
        </form>
    </div>
    <script src="~/js/jquery.js"></script>
</body>
</html>




@*@Html.ValidationMessageFor(m => m.Item1.UPass, "", new { @class = "text-danger" })*@
