@model Tuple<UserModel, string>
@{
    UserModel UserModel = Model.Item1;
    string ReturnURL = Model.Item2;
}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Global.css" />
    <link rel="stylesheet" href="~/css/Auth.css" />
    <title>ورود به حساب کاربری</title>
</head>
<body>
    <div class="authentication_container">
        <h2>ورود به حساب کاربری</h2>
        <form id="LoginForm" asp-controller="Auth" asp-action="Login" method="post">
            <input value="@(ReturnURL)" name="returnURL" hidden />
            <div class="form_group">
                <label for="UTel">شماره تلفن</label>
                <input value="@(UserModel.UTel)" type="text" id="UTel" name="@nameof(UserModel.UTel)" class="form_control" placeholder="09XXXXXXXXX" autocomplete="username">
                <span class="validation_message" id="UTelValidation"></span>
            </div>
            <div class="form_group">
                <label for="UPass">رمز عبور</label>
                <input value="@(UserModel.UPass)" type="password" id="UPass" name="@nameof(UserModel.UPass)" class="form_control" placeholder="XXX" autocomplete="current-password">
                <span class="validation_message" id="UPassValidation"></span>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert_danger">
                    @ViewBag.ErrorMessage
                </div>
            }
            <button id="SubmitBtn" type="submit" class="btn_primary">ورود</button>
            <p>
                <a asp-controller="Auth" asp-action="Register">ثبت نام</a> @*|*@
                @*<a asp-controller="Auth" asp-action="ForgotPassword">فراموشی رمز عبور</a>*@
            </p>
        </form>
    </div>
    <script src="~/js/Global.js"></script>
    <script>
        document.getElementById('SubmitBtn').addEventListener('click', function (e) {
            debugger;
            e.preventDefault();
            let IsValid = true;
            const UTelField = document.getElementById('UTel');
            const UPassField = document.getElementById('UPass');

            const UTelValidation = document.getElementById('UTelValidation');
            const UPassValidation = document.getElementById('UPassValidation');

            if (IsNullOrEmpty(UTelField.value)) {
                UTelValidation.textContent = 'لطفا شماره تلفن را وارد کنید.';
                IsValid = false;
            }
            else { UTelValidation.textContent = ''; }

            if (IsNullOrEmpty(UPassField.value)) {
                UPassValidation.textContent = 'لطفا رمزعبور را وارد کنید.';
                IsValid = false;
            }
            else { UTelValidation.textContent = ''; }

            if (IsValid) {
                document.getElementById('LoginForm').submit();
            }
        });
    </script>
</body>
</html>
